.heart-icon {
  height: 100px;
  width: 100px;
  background: url("/heart.png");
  background-position: left;
  cursor: pointer;
  position: absolute;
}

.heart-bg {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: all 400ms ease;
}

.heart-icon.liked {
  animation: like-anim 1s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}
